.envoltorio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    width: 550px;
}
.contenedor {
    background-color: rgb(51, 206, 206);
    width: 180px;
    height: 180px;
    line-height: 180px;
}
.elemento {
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    background-color: antiquewhite;
}
.elemento-2 {
    
}