* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
.color-grid{
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

body{
    background-color: #f4f4f4;
}

.color-box{
    width: 200px;
    height: 200px;
    margin: 10px;
    padding:10px;
    border-radius:10px;
    border:2px solid pink;
}

.color1{
    background-color: #669962;
}

.color2{
    background-color: rgb(99, 45, 255);
}
.color3{
    background-color: red;
}
.color4{
    background-color: hsl(124, 45%, 75%);
}
.color5{
    background-color: gold;
}