body{
  background-color: aliceblue;
}

.blog-post-card{
  background-color: white;
  border-radius: 10px;
  width: 20px;
  text-align: center;
}

.post-img{
  width: 100%;
  border-bottom: 2px solid blue;
}
.post-content{
  padding: 10px;
}
.post-title, .post-excerpt{
  color: red;
}

.read-more{
  color: lightcyan;
  background-color: blue;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
}
.read-more:hover{
  background-color: lightblue;
}